<!DOCTYPE html>
<html lang="en" ng-app="fetchApp">
<head>
    <title>FETCH!</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript" src="/app.js"></script>
    <script type="text/javascript" src="controller.js"></script>
    <script type="text/javascript" src="RequestFactory.js"></script>
    <script type="text/javascript" src="RequestService.js"></script>
</head>

<body ng-controller="MainController">

<div class="row">
    <div class="sixteen columns">
        <div class="four columns offset-by-four">
            <input type="text" ng-model="url">
            <button ng-click="fetch()">FETCH!</button>
            <select name="select" ng-model="method">
                <option value="GET">GET</option> 
                <option value="POST" selected>POST</option>
                <option value="OPTIONS">OPTIONS</option>
                <option value="HEAD">HEAD</option>
            </select>
            <ul>
                <li ng-repeat="response in responses">
                    {{"The HTTP status code is "}} {{response.statusCode}} {{"."}}
                </li>
                <li ng-repeat="response in responses">
                    {{"The HTTP method that is being used is "}}{{response.methodName}}{{"."}}
                </li>
                <li ng-repeat="response in responses">
                    {{"The requested URL is "}} {{response.urlName}}{{"."}}
                </li>
                <li ng-repeat="response in responses">
                    {{"The response time is "}} {{response.responseTime}}{{"ms"}}{{"."}}
                </li>
                <li ng-repeat="response in responses">
                    {{"The  content size of the response is ?????"}} {{""}}
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>

