<!DOCTYPE html>
<html lang="en" ng-app="fetchApp">
<head>
    <title>FETCH!</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript" src="/app.js"></script>
    <script type="text/javascript" src="controller.js"></script>
    <script type="text/javascript" src="RequestFactory.js"></script>
    <script type="text/javascript" src="RequestService.js"></script>
</head>

<body ng-controller="MainController">

<div class="row">
  <div class="sixteen columns">
        <div class="six columns offset-by-three">
						<div class="row">
             		<input type="text" ng-model="url">
			          <select ng-model="method" ng-model="method">
			          		<option value="GET">GET</option> 
		                <option value="POST">POST</option>
		                <option value="OPTIONS">OPTIONS</option>
		                <option value="HEAD">HEAD</option>
		            </select>
              		<button ng-click="fetch()">FETCH!</button>
              		</div>
               		<table>
              				<tr>
              					<th>Status Code</th>
              					<th>URL</th>
              					<th>HTTP Method</th>
              					<th>Response Time</th>
              					<th>Content Size</th>
              				</tr>
              				<tr ng-repeat="response in responses">
              					<td>{{response.statusCode}}</td>
              					<td>{{response.urlName}}</td>
              					<td>{{response.methodName}}</td>
              					<td>{{response.responseTime}}</td>
              					<td>{{""}}</td>
              				</tr>
              		</table>
            </div>
        </div>
    </div>
</body>
</html>

